@charset "utf-8";

:root{
    --base-font: 'Montserrat';
    --base-font2: sans-serif;
}
.title{
    height: 310px;
    background-image: url(../images/access/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1{
    font-family: var(--base-font), var( --base-font2);
    font-size-adjust: 32px;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    margin-top: 15px;
}

.main h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.main h2::after{
    content: "";
    display: block;
    width: 36px;
    height: 3px;
    background-color: black;
    margin-top: 20px;
}

.map{
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.map iframe{
    display: block;
    width: 100%;
    height: 320px;
    margin-top: 25px;
}

.contact{
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right:auto;
}

.form-area{
    background-color: #f8f8f8;
    border: 1px solid #aaaaaa;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap
}

.form-area dt{
    width: 200px;
    padding: 15px 0;
    font-size: 15px ;
    font-weight: bold;
    line-height: 24px;
}

.form-area dt .required::after{
    content: "必須";
    font-size: 11px;
    color: #eb4f32;
    margin-left: 10px;
}

.form-area dd{
    width: calc( 100% - 200px );
    padding: 15px 0;
}

.input-text{
    width: 100%;
    max-width:  280px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.select-box{
    width: 200px;
    height: 40px;
}

.radio-button{
    display: block;
    margin-top: 20px;
}

.radio-button:first-child{
    margin-top: 0;
}
.radio-button input{
    margin-right: 8px;
}

.message{
    width: 100%;
    height: 260px;
    padding: 10px;
    line-height: 1.5;
}

.confirm-text{
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
}

.submit-button{
    background-color: #f4dd64;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: var(--base-font), var(--base-font2);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border:none
}

.submit-button:hover{
    background-color: #d8b500;
}

.footer{
    margin-top: 100px;
}

@media( max-width:800px){
    .map, .contact{
        width: 500px;
        margin-top: 45px;
    }
    .form-area dt, .form-area dd{
        width: 100%;
    }

    .form-area dt {
        padding-bottom: 0;
    }

    .submit-button{
        width: 100%;
    }
}